// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #fafafa;
$aidpioneers: #fed330;
$header-color: #051224;
$text-color: #9198a3;
$rich-black: #051224;
$almost-black: #343a40;
$dark-grey: #9198A3;
$grey: #F1F1F1;
$soft-grey: #FAFAFA;
$pastel-yellow: #FDF7D8;
$yellow: #FED330;
$white: #FFFFFF;
$green: #008000;
$light-green: #AAF683;
$red: #800F2F;
$light-red: #FFCCD5;
$green-success: #5cb85c;
$red-danger: #d9534f;
$warning: #f0ad4e;
