<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://www.instagram.com/aidpioneers/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/AidPioneers"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/aid-pioneers"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
