<div class="container">
  <h1 class="fw-bold">Success!</h1>
  <p>Your shipment has been successfully scanned.</p>
  <img src="https://media.giphy.com/media/fxI1G5PNC5esyNlIUs/giphy.gif" alt="Thank you!">
</div>
