<div class="container">
  <h1 class="fw-bold">Success!</h1>
  <br>
  <h3>Your scan was successfully sumbitted.</h3>
  <br>
  <h3>We updated the location of the truck.</h3>
  <%# <img src="https://media.giphy.com/media/fxI1G5PNC5esyNlIUs/giphy.gif" alt="Thank you!"> %>
</div>
