
<%# Font Awesome Truck Icon
<i class="fa-solid fa-truck"></i> %>

<div class="card-product">
  <i class="fa-solid fa-truck"></i>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
